.steps {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  height: 80vh;
  background: #fff;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.steps .box:hover {
  box-shadow: 0 4px 10px 10px #b4b3b3;
}

.steps .box > div {
  width: 50%;
  padding-inline: 4em;
}

.steps .box .left {
  padding-bottom: 2em;
}

.steps .box .left .img {
  margin-top: -9em;
  width: 90%;
  height: 90%;
}

.steps .box .left h2 {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 600;
  width: 80%;
}

.steps .box .left p {
  padding-block: 1.5em;
  font-size: 0.9em;
  width: 80%;
}

.steps .box .left button {
  width: 40%;
  text-align: center;
  background: #3164f4;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.steps .box .left button:hover {
  transform: scale(1.05);
}

.steps .box .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 80%;
}

.steps .box .right h2 {
  font-size: 1.8em;
  font-weight: 600;
}

.steps .box .right p {
  font-size: 0.9em;
}

.line {
  border: 1px solid gray;
  background: gray;
  /* height: 0.01em; */
  border-radius: 10px;
  width: 100%;
}
